body,
html {
  margin: 0;
  padding: 0;
  background-color: #403f3f;
  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
